<h1>edit</h1>

<form method='post' action="/update/<%= @row['id']%> " >
	<input type="text" name="title" value=" <%= @row['title'] %> "><br>
	<input type="text" name="description" value=" <%= @row['description'] %> "><br>
	<input type="text" name="url" value=" <%= @row['url'] %> "><br>
	<input type="text" name="genre" value=" <%= @row['genre'] %> "><br>
	<br>
	<button>edit</button>
</form>